/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

/* Font specifications

font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;

*/


/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: ;
}

p {
    font-family: 'Lato', sans-serif;;
    font-size: 12px; 
}


/* Header and Navigation */

.logo {

}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 20px;
    vertical-align: middle;
}

.navbar {
    text-align: center;
    
}

.nav-element {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}





.container1 {
    display: grid;
    width: 1600px;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
            "lhori1 lhori1 lhori1 lhori1 card1 card1"
            "lhori1 lhori1 lhori1 lhori1 card1 card1"
            "card2 card2 lhori lhori2 lhori2 lhori2"
            "card2 card2 lhori lhori2 lhori2 lhori2"
            "mvert1 mvert1 card3 card3 mvert2 mvert2"
            "mvert1 mvert1 card3 card3 mvert2 mvert2"
            "tbox2 tbox2 tbox2 tbox2 tbox2 tbox2"
            "tbox2 tbox2 tbox2 tbox2 tbox2 tbox2"
            "sbox1  sbox2 svert1 svert2 shori2"
            "shori1 shori1 svert1 svert2 shori2"
}

.lhori1 {grid-area: lhori1;}
.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.mvert1 {grid-area: mvert1;}
.card3 {grid-area: card3;}
.mvert2 {grid-area: mvert2;}
.tbox2 {grid-area: tbox2;}
.sbox1 {grid-area: sbox1;}
.svert1 {grid-area: svert1;}
.svert2 {grid-area: svert2;}
.shori2 {grid-area: shori2;}


    /*
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
            "lhori1 lhori1 lhori1 lhori1 card1 card1"
            "lhori1 lhori1 lhori1 lhori1 card1 card1"
            "card2 card2 lhori lhori2 lhori2 lhori2"
            "card2 card2 lhori lhori2 lhori2 lhori2"
            "mvert1 mvert1 card3 card3 mvert2 mvert2"
            "mvert1 mvert1 card3 card3 mvert2 mvert2"
            "tbox2 tbox2 tbox2 tbox2 tbox2 tbox2"
            "tbox2 tbox2 tbox2 tbox2 tbox2 tbox2"
            "sbox    sbox2 svert1 svert2 shori2"
            "shori1 shori1 svert1 svert2 shori2";
}*/

#banner-image {
    background-image: url("assets/Layer 7.png");
    background-size: cover;
    height: 70vh;
}

/* Block of text */

.big-text-box {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.green-icon {
    padding: 20px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.inner-text {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}


/* Large image */
.large-hori-image {
    height: 10rem;
}

#layer10 {
    background-size: cover;
    background-image: url("assets/Layer\ 10.png");

}

#layer11 {
    background-image: url("assets/Layer\ 10.png");
}

.overlay-image {
    margin: auto;
}

#bicycle-company {
    background-image: url("assets/Logo2.png");
}

/* Skinny hori image with square text */
.card {
    text-align: center;
    grid-area: card;
}

.skinny-hori-image {
    background-image: url("assets/Layer 11.png");
    grid-row: 3;
    grid-column: 3;
    height: 10rem;
    background-size: cover;
}

.square-text-box {
    padding: 20px;
    text-align: center;
    grid-column: 1fr;
}



.med-vert-image {
    grid-area: mvert;
}

#

.small-square-image {
    
}

.skinny-vert-image {

}

.small-hori-image {

}


#discover-button {
    width: 200px;
    height: 100px;
}

#stay-on-the-saddle {

}

#newsletter-form{

}

#go-button {

}


/* Footer */

#address {

}

.social-media-icon {
    padding: 10px;
    text-align: center;
}

#yebo-logo {

}