/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: ;
}

p {
    font-family: ;
    font-size: 10px;
}


/* Header and Navigation */

.logo {

}

.navbar {
    
}

.nav-element {
    display: inline-block;
    text-transform: uppercase;
}

/* where to put grid? */
.grid {

}

#banner-image {
    background-image: url("assets/Layer\ 7.png");
    grid-template: 1fr / 1fr; 
}

.big-text-box {
    width: 100%;
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

.overlay-image {

}

.skinny-hori-image {

}

.square-text-box {

}

.large-hori-image {

}

.med-vert-image {

}

.small-square-image {
    
}

.skinny-vert-image {

}

.small-hori-image {

}

#discover-button {

}

#stay-on-the-saddle {

}

#newsletter-form{

}

#go-button {
    
}


/* Footer */

#address {

}

.social-media-icon {

}

#yebo-logo {

}