/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

/* Font specifications

font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;

*/


/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: ;
}

p {
    font-family: 'Lato', sans-serif;;
    font-size: 12px; 
}


/* Header and Navigation */

.logo {

}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 20px;
    vertical-align: middle;
}

.navbar {
    text-align: center;
    
}

.nav-element {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}


/* where to put grid? */
.container1 {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
            "lhori lhori card"
            "card lhori lhori"
            "mvert card mvert";
   
   
   
   
   
    /* 
    "lhori lhori card"
    "card lhori lhori"
    "mvert card mvert"

    twitter

    "sbox sbox svert svert shori"
    "shori shori svert svert shori"

    black background with button
    
    */

}

#banner-image {
    background-image: url("assets/Layer 7.png");
    background-size: cover;
    height: 70vh;
}

/* Block of text */

.big-text-box {
    width: 100%;
    text-align: center;
    grid-column: 1/4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.green-icon {
    padding: 20px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.inner-text {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}


/* Large image */
.large-hori-image {
    grid-row: 2;
    grid-column: 1/3;
    background-image: url("assets/Layer\ 10.png");
    background-size: cover;
    height: auto;
}

#layer10 {
    background-image: url("assets/Layer\ 10.png")
}

#layer11 {
    grid-row: 3;
    grid-column: 2/4;
    background-image: url("assets/Layer\ 10.png");
}

.overlay-image {
    margin: auto;
}

#bicycle_company {
    background-image: url("assets/Logo2.png")
}

/* Skinny hori image with square text */
.card {
    text-align: center;
}

.skinny-hori-image {
    background-image: url("assets/Layer 11.png");
    grid-row: 3;
    grid-column: 3;
    height: 10rem;
    background-size: cover;
}

.square-text-box {
    padding: 20px;
    text-align: center;
    grid-column: 1fr;
}



.med-vert-image {

}

.small-square-image {
    
}

.skinny-vert-image {

}

.small-hori-image {

}


#discover-button {
    width: 200px;
    height: 100px;
}

#stay-on-the-saddle {

}

#newsletter-form{

}

#go-button {

}


/* Footer */

#address {

}

.social-media-icon {
    padding: 10px;
    text-align: center;
}

#yebo-logo {

}